body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
    background-image: url('img/diabetes2.png'); 
    background-size: cover;
  }

  h1 {
    text-align: center;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #121212;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: center; /* Center the input fields */
  }
  
  label {
    display: block;
    font-weight: bold; 
  }
  
  input[type="number"] {
    width: 100px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin: 0 auto; /* Center the input fields */
    display: block;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto; /* Center the button */
    display: block;
  }
  
  /* #result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  } */

  #result {
    width: 400px;
    margin: 20px auto;
    font-weight: bold; 
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    border: 1px solid #121212;
    background-color: #ffffff;
  }
  
  