body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url('img/studentperformance.png'); 
  background-size: cover;
}

h1 {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #121212;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  width: 400px;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 150px;
}

input[type="number"],
input[type="text"],
select {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#prediction-result {
  width: 400px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
}
